KGTK Needs more General Language Tags

According to the [Wikipedia article on N-Triples](https://en.wikipedia.org/wiki/N-Triples), N-triples use RFC 3066 language tags. According to the [Wikipedia article on IETF language tags](https://en.wikipedia.org/wiki/IETF_language_tag), RFC 3066 has been replaced by RFC 4646 and RFC 5646, with increasingly more general structure.

According to the [W3C document on RDF 1.1 N-triples](https://www.w3.org/TR/n-triples/), language tags are defined by [BCP 47](https://www.rfc-editor.org/info/bcp47), which encompasses RFC 464 and RFC 5646.

To support importing/exporting N-Triples properly, the KGTK specification and implementation may need some extensions.